<footer class="container" style="margin-top: 80px;">
    <p class="text-center">Copyright ©2017 Suziran
        <br>Design by
        <a href="https://weibo.com/suziranv" target=_new>suziran</a>
    </p>
</footer>